final.runs/
final.sim/
final.cache/
final.ip_user_files/
final.hw/
final.hbs/
final.srcs/sources_1/bd/
*.wpc
*.lpr
*.txt
*.do
*.sh
*.map
*.rtd
*.tcl
*.vds
*.xml
*.wdf
*.log
*.jou
*.pb
*.dcp
*.xci
*.vhdl
*.protoinst
*.udo
*.f
*.ini
*.prj
*.opt
*.js
fsm1.runs/design_1_LED_toggling_FSM_0_0_synth_1/__synthesis_is_complete__
*.rpt
*.bat
*.bxml
*.bd
fsm1.srcs/sources_1/bd/design_1/design_1_ooc.xdc
*.hwh
fsm1.srcs/sources_1/bd/design_1/ip/design_1_clk_wiz_0_0/design_1_clk_wiz_0_0.xdc
fsm1.srcs/sources_1/bd/design_1/ip/design_1_clk_wiz_0_0/design_1_clk_wiz_0_0_board.xdc
fsm1.srcs/sources_1/bd/design_1/ip/design_1_clk_wiz_0_0/design_1_clk_wiz_0_0_ooc.xdc
*.vh
*.hwdef
*.ui
